
body {
    margin: 0;
    min-height: 100hv;
    background-color: #e2c58e;
}

div {
    margin: 0;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h3 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
}

.cta-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.about {
    text-align: center;
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.feature-box {
    width: 250px;
    text-align: center;
    margin: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    background-color: black;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f4a261;
}

.contact {
    max-width: 600px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact button {
    padding: 12px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact button:hover {
    background-color: #f4a261;
}

label {
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}
    
.image {
    width: 200px;
    height: 200px;

}